<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>Depots</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="padding-top:50px;">

    <div class="container">
        {% if error_msg %}
            <div class="alert alert-danger">{{ error_msg }}</div>
        {% endif %}
        <form class="form-inline" role="form" method="post" action="/depots/add">
            <div class="form-group">
                <fieldset>
                    <legend>Add Depot</legend>
                    <label class="sr-only" for="depotname">Depot Name</label>
                    <input required="true" type="text" class="form-control" name="depotname" id="depotname" placeholder="Depot name">
                    <button type="submit" class="btn btn-default">Add</button>
                </fieldset>
            </div>
        </form>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
{% endautoescape %}