<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>Axis</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="padding-top:50px;">

    <div class="container">
        <p>Welcome to Axis{% if user %}, {{ user.nickname() }}
            {% else %}.{% endif %}</p>
        <p><a href="{{ login_url|safe }}">{{ login_text }}</a></p>
    {% if user %}
        <dl>
            <dd>User ID</dd>
            <dt>{{ user.user_id() }}</dt>
            <dd>Nickname</dd>
            <dt>{{ user.nickname() }}</dt>
            <dd>Email</dd>
            <dt>{{ user.email() }}</dt>
            <dd>Auth Domain</dd>
            <dt>{{ user.auth_domain() }}</dt>
            <dd>Fed. Identity</dd>
            <dt>{{ user.federated_identity() }}</dt>
            <dd>Fed. Provider</dd>
            <dt>{{ user.federated_provider() }}</dt>
        </dl>
    {% endif %}
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
{% endautoescape %}